body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.card {
  margin: 0 auto;
}

.card:hover {
  cursor: grab;
}

.card-late * {
  background: rgb(247, 111, 111);
  color: white;
}

.card-good * {
  background-color: white;
  color: black;
}

.card-warn * {
  background-color: orange;
  color:white;
}

/* set these to height 100% because dnd doesn't allow
   drops into no height items
*/
#todo-cards, #in-progress-cards, #done-cards, .card-body{
  height:100%;
}
